form{
			margin-top: 60px;
		}body{
			/*background-image: url("http://localhost/projetDSI/images/background.jpg");*/
			background-image: url("http://localhost/projetDSI/back1.jpg");
			background-repeat: no-repeat;
			background-attachment: all;
			background-origin: 0px 0px;
			backgr
		}#masque{

			position: absolute;
			left: 0px;
			top: 0px;
			width: 100%;
			height: 100%;
			z-index: 110;
			background-color: rgba(24,26,25,0.2);
		}.input-group{
			margin-bottom: 10px;

		}input{
			outline: none;
			border: none;

		}.fa-key{
			font-size: 16px;
		}#submitting{
			height: 40px;
			transition-property: background-color color;
			transition-duration: 1s;
			background-color: inherit;
			color: white;
			font-size: 16px;
			border:solid 1px white;
		}#submitting:hover{
			background-color: white;
			color:black;
		}label {

			font-size: 17px;
			color: white;

		}.likelabel{
			font-size: 17px;
			color: white;

		}


		[name="check"]{
			height: 20px;
			width: 20px;
		}#textlabel{
			margin-left: 4px;
		}#checkbox{
			

		}#formcontaine{
			margin-top: 120px;
		/*border:solid 0.1em white;*/
		padding-bottom: 20px;
		border-radius: 7px;
		}h2{
			color: white;

		}label ,.likelabel{
			padding-bottom: 10px;
		}.marginbottominputs{
			margin-bottom: 40px;
		}#email,#password{
			height: 40px;
		}